* {
  margin: 0;
  padding: 0;
  background-color: #252525;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  font-family: 'Tilt Prism', cursive;
  color: #fdd947;
  -webkit-text-stroke: 0.5px #fff;
}